


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTrackerInNETCore.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

    <div class="container">
        <h2>User Registration</h2>
        <form method="post">
            <div class="form-group">
                <label for="name">Enter your name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="Email">Enter your Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>
           
            <div class="form-group">
                <label for="Password">Enter your Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>
            <div class="form-group">
                <label for="Mobile">Enter your Phone number</label>
                <input type="tel" class="form-control" id="MobileNumber" name="MobileNumber" required>
            </div>
           
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/Home/Login">Login</a>
        </form>
    </div>


</body>
</html>
